<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
<div class="overlay">
<h3 class="model-headings">Signup</h3><hr style="background-color: white;"><br>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="dialog-content">

        <mat-form-field class="signup-form-fields">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Name" />
        </mat-form-field>

        <mat-form-field class="signup-form-fields">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" placeholder="Mobile" />
        </mat-form-field>

        <mat-form-field class="signup-form-fields">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Email" />
        </mat-form-field>

        
        <mat-form-field class="signup-form-fields">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" placeholder="Address" />
        </mat-form-field>

        <div class="signup-form-fields">
            <label>Profile Image</label>
            <input type="file" (change)="onFileSelected($event)" formControlName="profilePicture" placeholder="Profile Photo" />
        </div>


        <mat-form-field class="signup-form-fields">
            <mat-label>User</mat-label>
            <input matInput formControlName="userType" placeholder="owner/customer" />
        </mat-form-field>

        <mat-form-field class="signup-form-fields">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Password" />
        </mat-form-field>
        
              

        <!-- Add more form fields as needed -->
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="signup-login-btn" (click)="closeDialog()">Close</button>
        <button class="signup-login-btn" mat-button type="submit">Signup</button>
    </mat-dialog-actions>
    </form>
</div>
